# Recommender System based on Review Book in E-commerce Using word2vec Algorithm


1. Yolanda R.M Manurung (12S17017)
2. Stella Sitinjak      (12S17027)
3. Ekis Naomi Lasma     (12S17059)


### Dataset
Data yang digunakan pada proyek ini berasal dari kaggle (https://www.kaggle.com/gapple/goodreads-book-reviews-20k)

## 1. Load Data

In [1]:
#ignore warning yang tidak perlu
import warnings
warnings.filterwarnings("ignore")

In [2]:
#import library yang akan digunakan
import pandas as pd
import re
import gensim
import string
from gensim.models import Word2Vec
import numpy as np
from scipy import linalg
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords, wordnet

In [3]:
#load dataset Goodreads buku dan menampilkan 5 data teratas
data = pd.read_csv("./all_data.csv")
print ('Jumlah data =', len(data))
data.head()

Jumlah data = 21559

,book_title,Book_series,book_series_url,book_image,book_image_url,book_rating,book_author,author_url,genre,reviewer_name,reviewer_url,reviewer_image,reviewer_image_url,review,ID
0,A Court of Wings and Ruin,(A Court of Thorns and Roses #3),https://www.goodreads.com/series/104014-a-cour...,https://images.gr-assets.com/books/1485528243l...,https://www.goodreads.com/book/photo/23766634-...,4.51,Sarah J. Maas,https://www.goodreads.com/author/show/3433047....,"Fantasy, Romance, Young Adult, New Adult",emma,https://www.goodreads.com/user/show/32879029-emma,https://images.gr-assets.com/users/1520568130p...,https://www.goodreads.com/user/show/32879029-emma,202.\r\nThat’s the number of times that the wo...,1
1,A Court of Wings and Ruin,(A Court of Thorns and Roses #3),https://www.goodreads.com/series/104014-a-cour...,https://images.gr-assets.com/books/1485528243l...,https://www.goodreads.com/book/photo/23766634-...,4.51,Sarah J. Maas,https://www.goodreads.com/author/show/3433047....,"Fantasy, Romance, Young Adult, New Adult",Em (RunawayWithDreamthieves),https://www.goodreads.com/user/show/42130592-e...,https://images.gr-assets.com/users/1538507799p...,https://www.goodreads.com/user/show/42130592-e...,I need a black silk robe and a balcony to wear...,2
2,A Court of Wings and Ruin,(A Court of Thorns and Roses #3),https://www.goodreads.com/series/104014-a-cour...,https://images.gr-assets.com/books/1485528243l...,https://www.goodreads.com/book/photo/23766634-...,4.51,Sarah J. Maas,https://www.goodreads.com/author/show/3433047....,"Fantasy, Romance, Young Adult, New Adult",Cait • A Page with a View,https://www.goodreads.com/user/show/47412532-c...,https://images.gr-assets.com/users/1523134490p...,https://www.goodreads.com/user/show/47412532-c...,THIS BOOK TOTALLY WRECKED ME. In the best poss...,3
3,A Court of Wings and Ruin,(A Court of Thorns and Roses #3),https://www.goodreads.com/series/104014-a-cour...,https://images.gr-assets.com/books/1485528243l...,https://www.goodreads.com/book/photo/23766634-...,4.51,Sarah J. Maas,https://www.goodreads.com/author/show/3433047....,"Fantasy, Romance, Young Adult, New Adult",Natalie Monroe,https://www.goodreads.com/user/show/6688207-na...,https://images.gr-assets.com/users/1339730817p...,https://www.goodreads.com/user/show/6688207-na...,"3.75 stars\r\n""Rhys stepped off the stairs and...",4
4,A Court of Wings and Ruin,(A Court of Thorns and Roses #3),https://www.goodreads.com/series/104014-a-cour...,https://images.gr-assets.com/books/1485528243l...,https://www.goodreads.com/book/photo/23766634-...,4.51,Sarah J. Maas,https://www.goodreads.com/author/show/3433047....,"Fantasy, Romance, Young Adult, New Adult",Emily May,https://www.goodreads.com/user/show/4622890-em...,https://images.gr-assets.com/users/1528390751p...,https://www.goodreads.com/user/show/4622890-em...,I wish so much that I could tell you I loved t...,5

## 2. Data Preparation

Tahap awal sebelum preprocessing yaitu melakukan preparation untuk pengecekan data noise dan dirty. Tahap yang dilakukan adalah pengecekan null value dan duplicate value

### Drop Null Value

In [4]:
#pengecekan nilai null pada data
data.isnull().sum()

book_title                0
Book_series           12779
book_series_url       12779
book_image                2
book_image_url            2
book_rating               0
book_author               0
author_url                0
genre                   121
reviewer_name            25
reviewer_url             25
reviewer_image           25
reviewer_image_url       25
review                  742
ID                        0
dtype: int64

In [5]:
# penghapusan null value dengan menggunakan fillna
# data yg memiliki null value akan diisi menggunakan value dari index ke-0
data['Book_series'] = data['Book_series'].fillna(data['Book_series'].mode().iloc[0])
data['book_series_url'] = data['book_series_url'].fillna(data['book_series_url'].mode().iloc[0])
data['book_image'] = data['book_image'].fillna(data['book_image'].mode().iloc[0])
data['book_image_url'] = data['book_image_url'].fillna(data['book_image_url'].mode().iloc[0])
data['genre'] = data['genre'].fillna(data['genre'].mode().iloc[0])
data['reviewer_name'] = data['reviewer_name'].fillna(data['reviewer_name'].mode().iloc[0])
data['reviewer_url'] = data['reviewer_url'].fillna(data['reviewer_url'].mode().iloc[0])
data['reviewer_image'] = data['reviewer_image'].fillna(data['reviewer_image'].mode().iloc[0])
data['reviewer_image_url'] = data['reviewer_image_url'].fillna(data['reviewer_image_url'].mode().iloc[0])
data['review'] = data['review'].fillna(data['review'].mode().iloc[0])

In [6]:
#pengecekan kembali data setelah drop null value
data.isnull().sum()

book_title            0
Book_series           0
book_series_url       0
book_image            0
book_image_url        0
book_rating           0
book_author           0
author_url            0
genre                 0
reviewer_name         0
reviewer_url          0
reviewer_image        0
reviewer_image_url    0
review                0
ID                    0
dtype: int64

### Drop Duplicate Value

In [7]:
#pengecekan duplicate value 
data.duplicated().sum()

0

In [8]:
#menampilkan 5 data teratas yang sudah di cek duplicate value
data['book_title'].drop_duplicates(keep=False,inplace=True)
data.head()

,book_title,Book_series,book_series_url,book_image,book_image_url,book_rating,book_author,author_url,genre,reviewer_name,reviewer_url,reviewer_image,reviewer_image_url,review,ID
0,A Court of Wings and Ruin,(A Court of Thorns and Roses #3),https://www.goodreads.com/series/104014-a-cour...,https://images.gr-assets.com/books/1485528243l...,https://www.goodreads.com/book/photo/23766634-...,4.51,Sarah J. Maas,https://www.goodreads.com/author/show/3433047....,"Fantasy, Romance, Young Adult, New Adult",emma,https://www.goodreads.com/user/show/32879029-emma,https://images.gr-assets.com/users/1520568130p...,https://www.goodreads.com/user/show/32879029-emma,202.\r\nThat’s the number of times that the wo...,1
1,A Court of Wings and Ruin,(A Court of Thorns and Roses #3),https://www.goodreads.com/series/104014-a-cour...,https://images.gr-assets.com/books/1485528243l...,https://www.goodreads.com/book/photo/23766634-...,4.51,Sarah J. Maas,https://www.goodreads.com/author/show/3433047....,"Fantasy, Romance, Young Adult, New Adult",Em (RunawayWithDreamthieves),https://www.goodreads.com/user/show/42130592-e...,https://images.gr-assets.com/users/1538507799p...,https://www.goodreads.com/user/show/42130592-e...,I need a black silk robe and a balcony to wear...,2
2,A Court of Wings and Ruin,(A Court of Thorns and Roses #3),https://www.goodreads.com/series/104014-a-cour...,https://images.gr-assets.com/books/1485528243l...,https://www.goodreads.com/book/photo/23766634-...,4.51,Sarah J. Maas,https://www.goodreads.com/author/show/3433047....,"Fantasy, Romance, Young Adult, New Adult",Cait • A Page with a View,https://www.goodreads.com/user/show/47412532-c...,https://images.gr-assets.com/users/1523134490p...,https://www.goodreads.com/user/show/47412532-c...,THIS BOOK TOTALLY WRECKED ME. In the best poss...,3
3,A Court of Wings and Ruin,(A Court of Thorns and Roses #3),https://www.goodreads.com/series/104014-a-cour...,https://images.gr-assets.com/books/1485528243l...,https://www.goodreads.com/book/photo/23766634-...,4.51,Sarah J. Maas,https://www.goodreads.com/author/show/3433047....,"Fantasy, Romance, Young Adult, New Adult",Natalie Monroe,https://www.goodreads.com/user/show/6688207-na...,https://images.gr-assets.com/users/1339730817p...,https://www.goodreads.com/user/show/6688207-na...,"3.75 stars\r\n""Rhys stepped off the stairs and...",4
4,A Court of Wings and Ruin,(A Court of Thorns and Roses #3),https://www.goodreads.com/series/104014-a-cour...,https://images.gr-assets.com/books/1485528243l...,https://www.goodreads.com/book/photo/23766634-...,4.51,Sarah J. Maas,https://www.goodreads.com/author/show/3433047....,"Fantasy, Romance, Young Adult, New Adult",Emily May,https://www.goodreads.com/user/show/4622890-em...,https://images.gr-assets.com/users/1528390751p...,https://www.goodreads.com/user/show/4622890-em...,I wish so much that I could tell you I loved t...,5

## 3. Data Preprocessing

### Case Folding

In [9]:
#mengubah huruf kapital menjadi huruf kecil yang ditampung pada parameter "lower"
# fungsi casefold digunakan agar karakter khusus dari beberapa bahasa di-convert menjadi karakter alfabet
review = []
for i in range(0, 21559):
    review.append(data["review"][i].casefold())
    
data['lower'] = review
data['lower'].head()

0    202.\r\nthat’s the number of times that the wo...
1    i need a black silk robe and a balcony to wear...
2    this book totally wrecked me. in the best poss...
3    3.75 stars\r\n"rhys stepped off the stairs and...
4    i wish so much that i could tell you i loved t...
Name: lower, dtype: object

### Remove Punctuation

In [10]:
#menghilangkan tanda baca dan ditampung oleh atribut baru yaitu "no_punc"
# fungsi replace digunakan apabila karakter sudah diketahui terdapat dalam dataset
review = []
for i in range(0, 21559):
    review.append(repr(data["lower"][i].replace(",", "").replace("\n", "")
                                       .replace("\r", "").replace("---", "")
                                       .replace('|','').replace("!","")
                                       .replace("//", "").replace("?","")
                                       .replace("    ", " ").replace("  "," ")))

In [11]:
# menghilangkan tanda baca yang tidak diketahui dari dataset
# sehingga tanda baca benar-benar terhapus secara keseluruhan
reviews = []
for i in review:
    review = re.sub(r'\ by.*? on', "", i)
    review = re.sub(r"\d\.\d", "", review)
    review = re.sub(r"\d+\ [a-z]+\.*\ \d+", "", review)
    review = review.replace(".", " ")
    review = re.sub(r'\  *', " ", review)
    reviews.append(review)
    
data["no_punc"] = reviews
data[["book_title", "book_rating", "genre", "no_punc"]].head()

,book_title,book_rating,genre,no_punc
0,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult","""202 that’s the number of times that the word ..."
1,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult",'i need a black silk robe and a balcony to wea...
2,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult",'this book totally wrecked me in the best poss...
3,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult","'5 stars""rhys stepped off the stairs and took ..."
4,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult",'i wish so much that i could tell you i loved ...

Data yang sudah dilakukan preprocessing akan disimpan menjadi data baru dalam file DataBuku.csv

In [12]:
new = data[["ID", "book_title", "book_rating", "genre", "no_punc"]]
new.to_csv("./DataBuku.csv")

In [13]:
dataset = pd.read_csv("./Databuku.csv", delimiter=",")
dataset.head()

,Unnamed: 0,ID,book_title,book_rating,genre,no_punc
0,0,1,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult","""202 that’s the number of times that the word ..."
1,1,2,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult",'i need a black silk robe and a balcony to wea...
2,2,3,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult",'this book totally wrecked me in the best poss...
3,3,4,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult","'5 stars""rhys stepped off the stairs and took ..."
4,4,5,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult",'i wish so much that i could tell you i loved ...

### Tokenization

In [14]:
#melakukan tokenisasi pada atribut "review" yang ditampung dalam parameter "tokenized"
from nltk.tokenize import SpaceTokenizer
sTokenizer = SpaceTokenizer()
review_tokens = []
for i in dataset['no_punc']:
    review_tokens.append(sTokenizer.tokenize(i))
    
dataset['tokenized'] = review_tokens
dataset['tokenized'].head()

0    ["202, that’s, the, number, of, times, that, t...
1    ['i, need, a, black, silk, robe, and, a, balco...
2    ['this, book, totally, wrecked, me, in, the, b...
3    ['5, stars"rhys, stepped, off, the, stairs, an...
4    ['i, wish, so, much, that, i, could, tell, you...
Name: tokenized, dtype: object

In [15]:
# atribut review yang telah ditokenisasi akan dijadikan sebagai vocab dan disimpan dalam "review_vocabs"
vocab = []
for i in dataset['tokenized']:
    vocab.append(set(i))
    
dataset['review_vocabs'] = vocab
dataset[["ID", "book_title", "book_rating", "genre", "review_vocabs"]].head()

,ID,book_title,book_rating,genre,review_vocabs
0,1,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult","{with, incontrovertible, captain, family, seri..."
1,2,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult","{softness, with, disgusting, series, *chokes, ..."
2,3,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult","{seek, with, meant, curious, family, “tan, ser..."
3,4,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult","{meant, experience, life, hand, invested, two,..."
4,5,A Court of Wings and Ruin,4.51,"Fantasy, Romance, Young Adult, New Adult","{struggled, with, didn\'t, tension, lies, usua..."

## 4. Word Embedding with Word2Vec

In [16]:
#implementasi word2vec, skipgram
word2vec_sg = Word2Vec(sentences=dataset['review_vocabs'],
                       size=100, window=5, min_count=1,
                       workers=4, sg=1, iter=10)

In [17]:
# memeriksa model
word2vec_sg.wv.similarity(w1="great",w2="good")

0.27318192

In [18]:
w1 = ["great"]
word2vec_sg.wv.most_similar (positive=w1,topn=6)

[('lots', 0.850216805934906),
 ('perhaps', 0.8481690883636475),
 ('conclusion', 0.8304582834243774),
 ('growing', 0.8269223570823669),
 ('further', 0.8225026726722717),
 ('portions', 0.8098313808441162)]

In [19]:
w1 = ["good",'fun','great']
w2 = ['bad']
word2vec_sg.wv.most_similar (positive=w1,negative=w2,topn=10)

[('lots', 0.7603276968002319),
 ('portions', 0.7530075907707214),
 ('t', 0.7355201244354248),
 ('mythology', 0.7343843579292297),
 ('navigating', 0.7337413430213928),
 ('james', 0.7297959327697754),
 ('conclusion', 0.7254453897476196),
 ('challenges', 0.7235820293426514),
 ('visit', 0.7214760780334473),
 ('standalone', 0.7194653749465942)]

In [20]:
# memastikan akurasi model dalam mengenali kata dan mencari similarity
word2vec_sg.wv.similarity(w1="good",w2="good")

1.0

In [21]:
# menyimpan model yang telah dibangun
word2vec_sg.save("word2vec_model")
w2v = Word2Vec.load("word2vec_model")

In [22]:
# mencari vector dari setiap vocab
book_data = []
for key,book in enumerate(dataset['review_vocabs']):
    if len(book) == 0:
        print(book, key)
    feature_vector = np.zeros((100,), dtype="float32")
    nwords = len(book)
    for token in book:
        feature_vector = np.add(feature_vector, w2v[token])
    
    feature_vector = np.divide(feature_vector, nwords)
    book_data.append({'book': dataset['book_title'][key],
                      'tags':book, 'vector':feature_vector})

In [23]:
book_vector_df = pd.DataFrame(book_data,columns=['book', 
                                                 'tags', 
                                                 'vector'])
book_vector_df[:10]

,book,tags,vector
0,A Court of Wings and Ruin,"{with, incontrovertible, captain, family, seri...","[-0.17142557, -0.014792559, 0.095906004, 0.309..."
1,A Court of Wings and Ruin,"{softness, with, disgusting, series, *chokes, ...","[-0.17515428, -0.01727866, 0.08581619, 0.29022..."
2,A Court of Wings and Ruin,"{seek, with, meant, curious, family, “tan, ser...","[-0.17082925, -0.051938463, 0.12259743, 0.3411..."
3,A Court of Wings and Ruin,"{meant, experience, life, hand, invested, two,...","[-0.21892951, -0.03878222, 0.11211488, 0.29385..."
4,A Court of Wings and Ruin,"{struggled, with, didn\'t, tension, lies, usua...","[-0.14607553, -0.04368714, 0.11837913, 0.33272..."
5,A Court of Wings and Ruin,"{with, aelin’s, series, laughed, adventure, tw...","[-0.24817279, -0.06105641, 0.075658225, 0.3076..."
6,A Court of Wings and Ruin,"{with, life, brutal, feyre's, series, books, o...","[-0.1487908, -0.03758522, 0.10654967, 0.279564..."
7,A Court of Wings and Ruin,"{with, tension, awaiting, what, young, in, eve...","[-0.21849072, -0.04394653, 0.07327992, 0.36261..."
8,A Court of Wings and Ruin,"{meantime, this, is, of, sobbing, deem, court,...","[-0.14057422, -0.12150091, 0.08739045, 0.36889..."
9,A Court of Wings and Ruin,"{acowar, with, this, series, finale, is, again...","[-0.2008527, -0.09730102, 0.11505303, 0.305623..."

In [24]:
book_vector_df.shape

(21559, 3)

## 5. Book Recommendation

In [25]:
words_in_vocab= set(word2vec_sg.wv.index2word)

In [26]:
# fungsi untuk mencari cosine_similarity berdasarkan vector dari vocab
def get_cosine_similarity(row, search_vector):
    try:
        cosine_similarity = np.dot(row['vector'], search_vector)/linalg.norm(row['vector'])/linalg.norm(search_vector)
        return cosine_similarity
    except Exception as e:
        raise e

In [47]:
# Mencari buku dengan judul "A Crown of Wishes" yang terdapat dalam dataset
book = input('Buku yang dicari: ')

Buku yang dicari: A Crown of Wishes

In [48]:
# mencari judul buku yang dicari dalam dataset
index_similar_book = 21559
for i, j in enumerate(dataset['book_title']):
    if j == book:
        index_similar_book = i

# jika buku ada, maka akan disimpan dalam variable search_query
# jika buku tidak ada, maka search_query akan dikosongkan
if index_similar_book != 21559:
    search_query = dataset['review_vocabs'][index_similar_book]
else:
    search_query = []

In [49]:
# mencari buku-buku rekomendasi berdasarkan cosine_similarity tertinggi
search_vector = np.zeros((100,), dtype="float32")
for tag in search_query:
    if tag in words_in_vocab:
        search_vector = np.add(search_vector, w2v[tag])
        
book_vector_df['cosine_similarity'] = book_vector_df.apply(get_cosine_similarity,
                                                           axis=1, args=(search_vector,))

In [50]:
# melakukan sorting berdasarkan cosine_similarity
df = book_vector_df.sort_values(by='cosine_similarity', ascending=False)[:10]

In [51]:
#10 buku teratas yang memiliki cosine similarity tertinggi
if index_similar_book == 21559:
    print("Buku '{0}' tidak ditemukan".format(book))
else:
    print("Maka buku yang direkomendasikan berdasarkan buku '{0}' adalah :".format(book))
    display(df[['book', 'cosine_similarity']])

Maka buku yang direkomendasikan berdasarkan buku 'A Crown of Wishes' adalah :

                           book  cosine_similarity
5740          A Crown of Wishes           1.000000
11551         The Wicked Cousin           0.997210
17692                      Want           0.997179
1471            Royally Matched           0.996971
7917                Golden Prey           0.996841
18677  Our Own Private Universe           0.996805
3844             When It's Real           0.996791
3546       A Piece of the World           0.996755
133                     Caraval           0.996719
9078            The Story of Us           0.996701